extends ../layout

block content
	.site
		center
			a(href='/createClass')
				input.btn.btn-primary(type='button', value='Create class')
		table(border='1')
			- for (var i = 0; i < data.length; i++)
				tr
					td #{data[i].name}
					//- td 
					//- 	input(type='checkbox', name='#{student[i].login}')