extends ../../layout

block content
	.site
		form(action='/createTestManual/addQuestionView', method='post')
			h3.form-signin-heading Create test
			input.input-block-level(type='text', name='name', placeholder='Name')
			p Category
				select(name='category')
					- for (var i = 0; i < data.length; i++)
						if (data[i].question.length>0)
							option(value='#{data[i].name}') #{data[i].name}
			input.btn.btn-primary(type='submit', value='Next')