extends ../../layout

block content
	.site
		center
			h3 Tests
			table.table
				- for (var i = 0; i < data.length; i++)
					tr
						td 
							center
								p #{data[i].name}
						td 
							center
								a(href='/studentActiveTest/#{data[i]._id}')
									input.btn.btn-success(type='button', value='GO')