extends ../../layout

block content
	.site
		center
			h3 All tests
			table.table
				- for (var i = 0; i < data.length; i++)
					tr
						td 
							center
								p #{data[i].name}
						td 
							center
								if (data[i].status == 'prepared')
									a(href='/activeTest/#{data[i]._id}')
										input.btn.btn-success(type='button', value='Activate test')
								else
									a(href='/deactiveTest/#{data[i]._id}')
										input.btn.btn-danger(type='button', value='Deactivate test')