extends ../../layout

block content
	.site
		center
			h3 Active #{name}
			form(action='/activeTest', method='post')
				input.input-block-level(type='hidden', name='name', vaule='#{name}')
				p View
					select(name='view')
						option(value='a') Total score
						option(value='b') Wrong question
						option(value='c') Wrong question with answer
						option(value='d') All test with answer
				p Class
					select(name='class')
						- for (var i = 0; i < data.length; i++)
							option(value='#{data[i].name}') #{data[i].name}
				input.btn.btn-primary(type='submit', value='Active')