extends ../../layout

block content
	.site
		form(action='/categoryPanel', method='post')
			h3.form-signin-heading Create category
			input.input-block-level(type='text', name='name', placeholder='Name')
			input.btn.btn-primary(type='submit', value='Create')